@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: "Karla", sans-serif;
    background-color: #E0F1E8;
    line-height: 3rem;
} */
body {
    font-family: "Karla", sans-serif;
    background-color: #edf5f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group span {
    color: red;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.radio-group input {
    margin-top: 0;
}

.radio-group label {
    margin-top: 0;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #009688;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #00796b;
}

.error-message {
    color: red;
    display: none;
    font-size: 12px;
}


@media (min-width: 700px) {
    #contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    #contact-form > h2,
    #contact-form > button,
    #contact-form > .form-group-email,
    #contact-form > .form-group-gender,
    #contact-form > .form-group-message,
    #contact-form > .form-group-consent {
        grid-column: 1 / 3;
    }
}